* {
  box-sizing: border-box;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.header{
  color: red;
  text-align: center;
}

input[type=text], select, textarea{
  width: 70%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.column1 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.column2 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.btn{
  background-color: green;
  color: white;
  border-radius: 4px;
}

.btn:hover{
  cursor: pointer;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


